In [3]:
#Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Importing the Dataset
df=pd.read_csv('Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.shape

(10000, 14)

In [7]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [8]:
X = df.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
y = df['Exited']

In [9]:
#Convert Categorical Data into Numerical Data

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
X['Gender'] = label.fit_transform(X['Gender'])
X['Geography'] = label.fit_transform(X['Geography'])
X.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
5,645,2,1,44,8,113755.78,2,1,0,149756.71
6,822,0,1,50,7,0.00,2,1,1,10062.80
7,376,1,0,29,4,115046.74,4,1,0,119346.88
8,501,0,1,44,4,142051.07,2,0,1,74940.50
9,684,0,1,27,2,134603.88,1,1,1,71725.73

In [10]:
#Dummy Variable Trap
X = pd.get_dummies(X, drop_first=True, columns=['Geography'])
X.head(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1
5,645,1,44,8,113755.78,2,1,0,149756.71,0,1
6,822,1,50,7,0.00,2,1,1,10062.80,0,0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0
8,501,1,44,4,142051.07,2,0,1,74940.50,0,0
9,684,1,27,2,134603.88,1,1,1,71725.73,0,0

In [11]:
#Splitting Test Set and Train Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0,)

In [12]:
#Feature Standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
#Build ANN
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from keras.layers import Dense

In [22]:
model = Sequential()
model.add(Dense(X.shape[1], activation='relu', input_dim =11))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [23]:
X.shape[1]

11

In [25]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [30]:
# Model fitting
model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3312 - accuracy: 0.8644
Epoch 2/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3298 - accuracy: 0.8636
Epoch 3/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3291 - accuracy: 0.8654
Epoch 4/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3292 - accuracy: 0.8649
Epoch 5/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3286 - accuracy: 0.8662
Epoch 6/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3278 - accuracy: 0.8649
Epoch 7/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3265 - accuracy: 0.8673
Epoch 8/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3262 - accuracy: 0.8677
Epoch 9/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3257 - accuracy: 0.8665
Epoch 10/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3243 - accuracy: 0.8694
Epoch 11/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3231 - accuracy: 0.8692
Epoch 12/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3230 - accuracy: 0.8686
Epoch 13/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3217 - accuracy: 0.8704
Epoch 14/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3209 - accuracy: 0.8675
Epoch 15/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3196 - accuracy: 0.8690
Epoch 16/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3194 - accuracy: 0.8705
Epoch 17/100
800/800 [==============================] - 5s 6ms/step - loss: 0.3194 - accuracy: 0.8702: 1s - loss: 0.3188 - accuracy: 0.87 - E
Epoch 18/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3175 - accuracy: 0.8706
Epoch 19/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3172 - accuracy: 0.8704
Epoch 20/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3153 - accuracy: 0.8717
Epoch 21/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3151 - accuracy: 0.8694
Epoch 22/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3142 - accuracy: 0.8739
Epoch 23/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3134 - accuracy: 0.8731
Epoch 24/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3140 - accuracy: 0.8706
Epoch 25/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3128 - accuracy: 0.8714
Epoch 26/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3114 - accuracy: 0.8726
Epoch 27/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3114 - accuracy: 0.8734
Epoch 28/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3111 - accuracy: 0.8746
Epoch 29/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3102 - accuracy: 0.8723
Epoch 30/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3099 - accuracy: 0.8734
Epoch 31/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3096 - accuracy: 0.8752
Epoch 32/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3088 - accuracy: 0.8751
Epoch 33/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3076 - accuracy: 0.8752
Epoch 34/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3083 - accuracy: 0.8749
Epoch 35/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3077 - accuracy: 0.8715
Epoch 36/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3078 - accuracy: 0.8745
Epoch 37/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3063 - accuracy: 0.8742
Epoch 38/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3060 - accuracy: 0.8739
Epoch 39/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3060 - accuracy: 0.8725
Epoch 40/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3041 - accuracy: 0.8731
Epoch 41/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3048 - accuracy: 0.8760
Epoch 42/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3047 - accuracy: 0.8759
Epoch 43/100
800/800 [==============================] - ETA: 0s - loss: 0.3037 - accuracy: 0.87 - 3s 4ms/step - loss: 0.3036 - accuracy: 0.8758
Epoch 44/100
800/800 [==============================] - 4s 4ms/step - loss: 0.3024 - accuracy: 0.8749
Epoch 45/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3025 - accuracy: 0.8779
Epoch 46/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3014 - accuracy: 0.8745
Epoch 47/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3007 - accuracy: 0.8766
Epoch 48/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3007 - accuracy: 0.8764
Epoch 49/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3001 - accuracy: 0.8774
Epoch 50/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2996 - accuracy: 0.8774
Epoch 51/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3002 - accuracy: 0.8764
Epoch 52/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2988 - accuracy: 0.8786
Epoch 53/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2979 - accuracy: 0.8785
Epoch 54/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2966 - accuracy: 0.8767
Epoch 55/100
800/800 [==============================] - 4s 4ms/step - loss: 0.2968 - accuracy: 0.8777
Epoch 56/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2971 - accuracy: 0.8784
Epoch 57/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2958 - accuracy: 0.8783
Epoch 58/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2962 - accuracy: 0.8770
Epoch 59/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2941 - accuracy: 0.8788
Epoch 60/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2939 - accuracy: 0.8792
Epoch 61/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2940 - accuracy: 0.8795
Epoch 62/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2918 - accuracy: 0.8806
Epoch 63/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2918 - accuracy: 0.8786
Epoch 64/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2923 - accuracy: 0.8789
Epoch 65/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2905 - accuracy: 0.8806
Epoch 66/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2906 - accuracy: 0.8813
Epoch 67/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2906 - accuracy: 0.8813
Epoch 68/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2896 - accuracy: 0.8809
Epoch 69/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2891 - accuracy: 0.8785: 0s - los
Epoch 70/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2886 - accuracy: 0.8814
Epoch 71/100
800/800 [==============================] - 4s 4ms/step - loss: 0.2882 - accuracy: 0.8813
Epoch 72/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2873 - accuracy: 0.8804
Epoch 73/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2867 - accuracy: 0.8819
Epoch 74/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2859 - accuracy: 0.8814
Epoch 75/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2853 - accuracy: 0.8808
Epoch 76/100
800/800 [==============================] - 4s 4ms/step - loss: 0.2848 - accuracy: 0.8820
Epoch 77/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2841 - accuracy: 0.8829
Epoch 78/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2840 - accuracy: 0.8820
Epoch 79/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2828 - accuracy: 0.8815
Epoch 80/100

800/800 [==============================] - 2s 3ms/step - loss: 0.2825 - accuracy: 0.8815
Epoch 81/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2828 - accuracy: 0.8838
Epoch 82/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2820 - accuracy: 0.8814
Epoch 83/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2804 - accuracy: 0.8806
Epoch 84/100
800/800 [==============================] - 2s 3ms/step - loss: 0.2813 - accuracy: 0.8839
Epoch 85/100
800/800 [==============================] - 2s 3ms/step - loss: 0.2803 - accuracy: 0.8826
Epoch 86/100
800/800 [==============================] - 2s 3ms/step - loss: 0.2803 - accuracy: 0.8829
Epoch 87/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2803 - accuracy: 0.8831
Epoch 88/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2796 - accuracy: 0.8832
Epoch 89/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2776 - accuracy: 0.8832
Epoch 90/100
800/800 [==============================] - 2s 3ms/step - loss: 0.2779 - accuracy: 0.8852
Epoch 91/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2781 - accuracy: 0.8851
Epoch 92/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2772 - accuracy: 0.8836
Epoch 93/100
800/800 [==============================] - 4s 5ms/step - loss: 0.2757 - accuracy: 0.8851:  -
Epoch 94/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2765 - accuracy: 0.8854
Epoch 95/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2764 - accuracy: 0.8842
Epoch 96/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2759 - accuracy: 0.8827
Epoch 97/100
800/800 [==============================] - 3s 3ms/step - loss: 0.2746 - accuracy: 0.8850
Epoch 98/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2753 - accuracy: 0.8842
Epoch 99/100
800/800 [==============================] - 4s 4ms/step - loss: 0.2722 - accuracy: 0.8864
Epoch 100/100
800/800 [==============================] - 3s 4ms/step - loss: 0.2731 - accuracy: 0.8867